
.wrapper {
    background-color: #F0F2F4;
    position: relative;
    overflow: hidden;
}

.btnAction {
    width: 100px;
    height: 36px;
    font-size: 1rem;
    box-shadow: 0px 0px 5px rgb(202, 202, 202);
}

.graphOptions {
    position: absolute;
    z-index: 20;
    padding: 15px;
}

.graphStyle {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 15px;
}

.graphStylesDropdown {
    background-color: white;
    border: 1px solid #929292;
    border-radius: 5px;
    height: 25px;
}

.checkBox {
    display: flex;
    align-items: center;
    gap: 5px;
}

.graphs {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
}

.btnActions {
    display: flex;
    gap: 8px;
    margin-bottom: 15px;
}

.downloadBtn {
    background-color: #757575 !important;
}

.downloadBtn:hover {
    background-color: #808080 !important;
}