
.runAlgorithm {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.runButton {
    font-size: 0.9rem;
    height: 24px;
    cursor: pointer;
}

.algorithms {
    display: flex;
    gap: 22px;
    flex-direction: column;
}