
.listItem {
    margin-left: 15px;
    padding-bottom: 12px;
    margin-bottom: 12px;
    border-bottom: 1px solid #C5C5C5;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.removeBtn {
    background-color: rgb(228, 49, 49);
    height: 24px;
    color: white;
}

.removeBtn:hover {
    background-color: rgb(233, 65, 65);
}

.addNetwork {
    margin-left: 15px;
    color: #757575;
    cursor: pointer;
    font-size: 1rem;
    background-color: transparent;
    border: none;
}