
.nodeInfo {
    display: flex;
    width: 100%;
}

.labelBox {
    padding-top: 13px;
    padding-bottom: 13px;
    border-bottom: 1px solid #C5C5C5;
    border-right: 1px solid #C5C5C5;
    width: 50%;
}

.valueBox {
    padding-top: 13px;
    padding-bottom: 13px;
    border-bottom: 1px solid #C5C5C5;
    width: 50%;
    padding-left: 9px;
}