
.runComparison {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.comparisonText {
    color: #757575;
}

.runButton {
    background-color: #22BEC8;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 0.9rem;
    width: 45px;
    height: 20px;
    cursor: pointer;
}

.networkComparisons {
    display: flex;
    gap: 22px;
    flex-direction: column;
}